.card-wrap {
  width: 200px;
  height: 150px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 20px 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;  
}

.side {
  font-family: Underdog, cursive;
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  
}

.front {
  transform: rotateY(180deg);
  background-color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  font-size: 55px;
  line-height: 150px;
  background-color: #6b7ebb;
  color: #f2f4ff;
}

.turned {
  transform: rotateY(180deg);
}
