.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 950px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  background-color: #f2f4ff;
}

.nav-btn {
  background: transparent;
  font-size: 28px;
  padding: 0 15px;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #6b7ebb;
  }

  &:active {
    color: #000;
  }

  &:disabled {
    color: #b0bec5;
    cursor: not-allowed;

    &:hover {
      color: #b0bec5;
    }
  }
}